.background-image {
  margin-top: -100px;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  z-index: -999;
}

.container {
  margin-top: 100px;
  color: purple;
  background: white;
  max-width: 100%;
  border-radius: 30px;

}

.playbtn {
  margin-top: 100px;
  font-weight: bold;
  font-size: 100pt;
  background: purple;
  border: 1px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  padding: 10px;
}

.play-container {
  margin-top: 100px;
}

.sidebar-nav-btn a {
  font-size: 20pt;
  color: white;
}

.sidebar-nav {
  background: black;
  border-radius: 0 0 200px 0;
}
