.yellow {
    background: yellow;
    color: black;
}

.red {
    background: red;
    color: white;
}

.blue {
    background: blue;
    color: white;
}

.green {
    background: green;
    color: white;
}

.black {
    background: black;
    color: white;
}

.orange {
    background: orange;
    color: white;
}

.white {
    background: white;
    color: black;
}

.pink {
    background: pink;
    color: black;
}

#target {
    border: 2px solid white;
    height: 100px;
    margin: auto;
    max-width: 450px;
    width: 100%;
}

.btn {
    display: inline-block;
    font-size: 20pt;
    height: 100px;
    margin-top: 5px;
    width: 100px;
}

#colorbuttons {
    margin: auto;
    max-width: 450px;
    text-align: center;
    width: 100%;
}

.background {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

#scorestuff {
    color: white;
    z-index: 100;
}

.score-heading {
    color: white;
    margin: auto;
    max-width: 450px;
    width: 100%;
}

.gameOver {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -15;
}

.bg-img {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -10;
}

.top {
    color: white;
    text-align: center;
    z-index: -9;
}

.hidden {
    display: none;
}

.game {
    z-index: 100;
}

body {
    padding: 0;
    margin: 0;

    z-index: -999;
}