

#color-btn-navbar {

  color: #73C5DD
}

.container {
  /*background: white;*/
  text-align: center;

}
.button {

  border-radius: 100%
}

.my-img-responsive {
  width: 50%;
  border: solid;
  border-radius: 100%;
  border-color: black;

}


@media screen and (max-width: 500px) {
  .responsive-text{

    font-size: 20pt;

  }
}

.img {
  position: absolute;
  z-index: -100;
}

.left-img {
  left :0;
}

.right-img {
  right: 0;
}

@media screen and (max-width: 1010px) {
  .img {
    display: none;
  }
}

.match {
  list-style: none;
  font-size: 14pt;
}
