.main {
text-align: center;
align-content: center;
}
body {
  background: purple;
}

.btn {
  margin: 30px;
  margin-top: 10px;
width: 80%;
height: 60px;
}

.background-img {
  min-width: 100%;
  min-height: 100%;

  width: auto;
  height: auto;

  position: fixed;
  z-index: -100;
  top: 0;
  border: 1px solid black;
}

.container {
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.play-btn {
  font-size: 15pt;
  background: purple;
  width: 100%;
  max-width: 250px;
  margin: auto;
}

.main-text {
  text-align: left;
}

#btnn {
  width: 30%;
  height: 70px;
}

h1, h3, h2 {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
